#Blanco {
    background-color:#FFFFFF;
}

#Negro {
    background-color:#000000;
}

#Gris {
    background-color:#808080;
}

#Azul {
    background-color:#0000FF;
}

#Verde {
    background-color:#00FF00;
}

#Rojo {
    background-color:#FF0000;
}

#Amarillo {
    background-color:#FFFF00;
}

#Cafe {
    background-color:#6C3B2A;
}

#Piel {
    background-color:#FDDDCA;
}

#Naranja {
    background-color:#FFA500;
}

#Morado {
    background-color:#800080;
}

#Rosado {
    background-color:#FF0080;
}

#Fucsia {
    background-color:#FF00FF;
}

#Celeste {
    background-color:#87CEEB;
}

#Plateado {
    background-color:#C0C0C0;
}

#Dorado {
    background-color:#FFD700;
}