#div-margin {
    background-color: peru;
    margin: 40px;
    padding: 10px;
    border-style: solid;
}

#div-padding {
    background-color: cyan;
    padding: 30px;
    margin: 10px;
    border-style: solid;
}

#div-border {
    background-color: beige;
    border: 5px black;
    margin: 10px;
    padding: 10px;
    border-style: dotted;
}